* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
    font-family: "Montserrat", sans-serif;
    width: auto;
}

.name {
    background-image: url(./4350804.jpg);
    background-position-y: 45%;
    text-align: center;
}

.name h1 {
    width: auto;
    font-size: 80px;
    font-variant-caps: small-caps;
    font-style: italic;
}

.info {
    display: flex;
    flex-wrap: wrap;
    flex: 70%;
}

.side {
    flex: 30%;
    background-color: white;
    padding: 20px;
}

.main {
    flex: 70%;
    background-color: silver;
}

#popup:hover {
    width: 1075px;
    height: 320px;
}

footer {
    padding: 50px;
    text-align: center;
    background: black;
    color: white;
}

.footer {
    padding: 45px;
    text-align: center;
}

.footer a {
    color: white;
}

#social h3 {
    text-decoration: underline;
    font-size: 25px;
}

#social li {
    display: inline-block;
    margin: 0 5px;
}